
body{
    background-color: #B7E0FF;
    margin: 0;
    padding: 0;
}

.global{
    height: 100vh;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-rows: auto auto auto;
    /*gap: 50px;*/
}

/*Primer Bloque*/

.container1{
    display:  flex;
    flex-direction: column;
    background-color: #191970;
    border: 20px solid;

}

.aux1{
    border-bottom:10px solid;
    padding: 15px 5px;
}

.box1{
    background-color:  #FC4100;
    margin: 10px;
    padding: 10px;
    
    flex-basis: 15%;
    
}

.c2{
    flex-basis: 50%;
}
.wrapper{
    border-top: 10px solid;
    background-color: orange;
    padding: 14px ;
}

.box2{
    background-color: yellow;
    margin: 5px;
    padding: 22px;
    font-size: xx-large;
    font-weight: bold;
}

/*Segundo Bloque*/

.container2{
    margin-top: 40px;
    background-color: chartreuse;
    border: 20px solid;
    display: flex;
    flex-direction: column;
}

.containerLeft{
    width: 100%;
    background-color: gray;
    padding: 16px 8px;
    display: flex;
    flex-direction: column;
    border-bottom: 10px solid;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    
}

.envoltorio,.envoltorio1,.envoltorio2{
    width: 98%;

    overflow: hidden;

}

.box3{
    background-color: #4169E1;
    width: 100%;
    margin: 10px;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}

.b1{
    background-color: #78C1F3;
}



.containerRight{
    background-color: salmon;
    padding: 16px 5px;
    height: 100%;
    box-sizing: border-box;
    border-top: 10px solid;

}

.box4{
    background-color: yellow;
    margin: 10px 15px;
    padding: 10px;
    margin-top: auto;

}

.d1{
    margin-top: 10px;
}

/* Ultimo Bloque*/

.container3{
    margin-top: 50px;
    border: 20px solid;
    background-color:#FFF4B7;
    align-content: center;
    padding: 16px 5px;


}

.box5{

    margin:  0 10px;
    padding: 0 5px;


}
